body {
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: transparent;
    transition: background-color 0.5s;
    padding: 0 150px;
    font-size: 14px;
    z-index: 100;
}

.header .nav-link {
    color: black;
}

.header .active {
    font-weight: bold;
}

.btn-growth {
    background-color: #FEC222;
}

.header a {
    text-decoration: none;
}

.footer {
    background-color: #005288;
    padding: 10px 0;
}

.highlight-clickable {

}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.gc-title {
    font-size: 3.7em;
}

.gc-title-2 {
    font-size: 2.7em;
}

.gc-content {
    font-size: 1.2em;
}

.gc-content-2 {
    font-size: 1.3em;
}

.gc-align-left {
    text-align: left;
}

.gc-align-center {
    text-align: center;
}

.gc-align-right {
    text-align: right;
}

.gc-align-justify {
    text-align: justify;
}

.gc-text-bold {
    font-weight: bold;
}

.gc-text-light-bold {
    font-weight: 600;
}

.gc-text-lighter {
    font-weight: lighter;
}

.gc-georgia {
    font-family: Georgia;
}

.gc-helvetica {
    font-family: Helvetica;
}

.gc-baskerville {
    font-family: Baskerville;
}

.gc-full-height {
    height: 100%;
}

.gc-full-width {
    width: 100%;
}

.gc-container-center {
    display: flex;
    align-items: center;
}

.gc-container-bottom {
    display: flex;
    align-items: flex-end;
}

.gc-container-justify-center {
    display: flex;
    justify-content: center;
}

.gc-color-white {
    color: white;
}

.gc-full-bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.gc-position-relative {
    position: relative;
}

.gc-jumbotron {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.gc-text-font-normal {
    font-size: 13px;
}
