.solution-header {
    padding: 0 100px;
}

.solutions-title {
    line-height: 75px;
}

.testimony img {
    height: 85%;
    width: auto;
    max-width: 80%;
    padding: 0 25px;
}

.testimony-box-container {
    width: 100%;
    padding: 27px;
    position: absolute;
}

.testimony-box {
    width: 100%;
    padding: 15px;
    background-color: #FEC222;
    border-radius: 8px;
}

.questions {
    padding: 50px 100px;
}

.other-questions {
    font-size: 30px;
}

.other-questions {
    position: relative;
}

.other-questions:after {
    box-shadow: inset 0 -12px 0 0 rgba(254, 194, 34, 0.5);
    position: absolute;
    content: '';
    width: 95px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.active-other-question-title {
    position: relative;
    box-shadow: inset 0 -10px 0 0 rgba(254, 194, 34, 0.5);
    padding-bottom: -20px;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.hr-slot {
    display: none;
}

.carousel-control-next {
}

.carousel-control-prev {
}

.category-toggle:not(.collapsed) {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.category-toggle.collapsed {
    outline: 0;
    box-shadow: 0 0 0 0 white;
}

@media only screen and (max-width: 720px) {
    .gc-jumbotron {
        height: auto;
        padding-top: 80px;
    }

    .gc-jumbotron .row > .col-md-6 {
        height: auto;
        margin-bottom: 20px;
    }

    .questions {
        padding: 50px 10px;
    }

    .article-image-container {
        height: 60vw;
    }

    .solution-header {
        padding: 0 10px;
    }

    .gc-title {
        font-size: 2em;
    }

    .testimony img {
        width: 100%;
        height: auto;
        max-height: 100%;
    }

    .article-title {
        font-size: 12px;
    }

    .article-content {
        font-size: 11px;
    }

    .other-questions {
        font-size: 20px;
    }

    .gc-georgia.pr-5 {
        padding: 0 !important;
        font-size: 12px !important;
    }

    li.list-group-item.px-0 {
        font-size: 14px;
    }

    .testimony img {
        height: auto;
        width: 100%;
        max-width: 100%;
        padding: 0 25px;
    }

}

.question-list {

}
